<!-- Andrea Mujica -->
<div class="container-fluid bg-white py-5 justify-content-center">
    <div class="row">
        <div class="col-7 text-justify p-5">
            <h2>This First Heading <b class="text-secondary text-info">Will Catch Your Eye</b></h2>
            <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
                vero aperiam excepturi ad adipisci aliquid qui beatae velit
                atque sunt. Lorem ipsum dolor sit amet consectetur adipisicing 
            </p>
        </div>
        <div class="col-5">
            <div class="container">
                <img class="rounded-circle w-75 h-75 p-2" src="assets/img/1.jpg" alt="Cool image">
            </div>
        </div>
    </div>
</div>