<!-- your html code here -->
<p>Hello, I'm the portfolio.html</p>
    <div class="  container-portfolio">
        <div class="p-2 portfolio">
        <h1 class="font">portfolio</h1>
        <p class="portfolio-p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque fugit, quasi vel nulla cum doloremque. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis,
             error est maxime dolorum, illo odio ratione nobis architecto consequuntur, id consequatur provident nihil eaque
             eligendi at repellendus reiciendis quibusdam! Nihil.</p>
             <div class="row portfolio-image">
                <div class="image-column col-4">
                    <img src="https://images.unsplash.com/photo-1755541516479-bc12a9edcca9?ixlib=rb-4.1.0&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=880" alt="">
                    <h3>Project name</h3>
                    <p class="portfolio-texto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non accusantium molestias sit reiciendis. Illum placeat sequi molestias ullam, nemo mollitia reiciendis ex voluptate omnis hic!</p>

       

                </div>
                <div class="col-4">
                    <img src="https://images.unsplash.com/photo-1755541516479-bc12a9edcca9?ixlib=rb-4.1.0&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=880" alt="">
                    <h3>Project name</h3>
                    <p class="portfolio-texto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non accusantium molestias sit reiciendis. Illum placeat sequi molestias ullam, nemo mollitia reiciendis ex voluptate omnis hic!</p>

       

                </div>
                <div class="col-4">
                    <img src="https://images.unsplash.com/photo-1755541516479-bc12a9edcca9?ixlib=rb-4.1.0&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=880" alt="">
                    <h3 class="font">Project name</h3>
                    <p class="portfolio-texto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non accusantium molestias sit reiciendis. Illum placeat sequi molestias ullam, nemo mollitia reiciendis ex voluptate omnis hic!</p>

       

                </div>

             </div>
             </div>



    </div>